.album-square {
  width: 128px;
  height: 128px;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #ddd;
  background-image: url("https://loremflickr.com/320/240");
  background-size: cover;
  background-position: center;
  margin: 8px 16px;
}

.album-square .overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s;
}

.album-square .overlay .fa-play-circle {
  transform: scale(0.5);
  transition: all 0.3s;
}

.album-square:hover .overlay {
  opacity: 1;
}

.album-square:hover .overlay .fa-play-circle {
  transform: scale(1);
}
